<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="common.jlt.com.testdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".rxjava.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".checknetstatus.CheckNetStatus" />

        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="common.jlt.com.testdemo" />
            </intent-filter>
        </receiver>

        <activity android:name=".strategy.Strategy" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".greendao.GreenDaoActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".recyclerviewgallery.RecyclerViewGallery" />
        <activity android:name=".gradienttitlebar.GradientTitleBarActivity" />
        <activity android:name=".viewpagergallery.ViewPagerGallery" />
        <activity android:name=".viewpagergallery.MagicViewPager" />
        <activity android:name=".customviewpager.CustomViewPager" />
        <activity android:name=".customviewpager.CustomHorizontalActivity" />
        <activity android:name=".customviewpager.CustomVerticalActivity" />
        <activity android:name=".sqlite.SQLiteTestActivity" />
        <activity android:name=".pupowindow.PupoWindowTestActivity"></activity>
    </application>

</manifest>